[submodule "horsey-frontend"]
	path = horsey-frontend
	url = git@github.com:michaperki/horsey-frontend-app.git
[submodule "horsey-contracts"]
	path = horsey-contracts
	url = git@github.com:michaperki/horsey-contracts.git
[submodule "horsey-backend"]
	path = horsey-backend
	url = git@github.com:michaperki/horsey-backend.git
